.*
!.gitignore
# python compiled files
*.py[co]
# emacs backup files
*~
# not tracked subdirectories
/env/
/src/
/filestore/
/logs/
/__pycache__/
/myaddons/
/hl_erp/
/odoo/
/odoo.egg-info/
/setup/
/data/
/app-odoo/
/.vscode/
/.idea/
/Odoo-17-Development-Cookbook-Fifth-Edition/
default.conf
docker-compose-bk.yml
docker-compose.yml
.gitignore
docker-compose.yml
docker-compose.yml
nginx.conf
redis.conf
UnionLoan.zip
docker-compose.yml
docker-compose.yml
docker-compose.yml
.gitignore
docker-compose.yml
docker-compose.yml
